* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  max-width: 996px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.column {
  text-align: center;
}


button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: white;
  background-color: gray;
}


}
